@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body{
    overflow-x: hidden;
}

.navbar{
    background: rgba(0, 0, 0, 0.6);
}

.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

.video-background{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.video-background video{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../media/bg.png);
    background-size: cover;
    background-position: center;
}

.caption{
    position: absolute;
    top: 88%;
    width: 100%;
}

.caption img{
    height: 60px;
}

#course{
    font-family: 'Poppins', sans-serif;
}

#course h1{
    font-weight: 600;
    color: steelblue;
}

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}
.col-md-8 h1 {
    font-size: 2.4rem;
}

.qr-image{
    max-height: 400px;
}

.donation{
    font-weight: 700;
}